/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "responsive-font";

// Colors
$blue: #1EB7C6;
$black: #1B1B1B;
$gray: #EBECF0;
$dark-gray: #9B9B9B;

$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Raleway', sans-serif;

b { font-weight: 600; }

body {
    background-color: $gray;
    text-align: center;
    padding: 0px 16px;
}

nav {
    color: $dark-gray;
    font-family: $body-font;
    font-weight: 300;
    letter-spacing: 0.7px;
    font-size: 20px; 
    margin-top: 36px;
}

a {
    color: $blue;
    
    &:hover, .offcanvas &:focus {
        color: $blue;
    }
}

hr {
    width: 90%;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from($gray), to($gray), color-stop(50%, #C6C7CC));
}

#header {
    padding: 20px;
    margin: 0
}

#sectional-text {
    padding: 2vw;
}

#column-text {
    max-width: 800px;
    text-align: center;
}

#info {
    max-width: 800px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

h1 {
    font-family: $heading-font;
    font-weight: 600;
    font-size: 40px;
    margin-top: 20px;
}

.icon {
    max-width: 150px;
}

h2 {
    font-family: $body-font;
    letter-spacing: 1px;
    font-weight: 400;
    @include responsive-font(1vw, 24px, 36px);
    
}

h3 {
    font-family: $heading-font;
    font-weight: 600;
    letter-spacing: 1px;
    @include responsive-font(1vw, 28px, 36px);
    margin-top: 20px;
    margin-bottom: 8px;
}

h4 {
    font-family: $body-font;
    font-weight: 600;
    line-height: 1.4em;
    font-size: 18px;
}

p {
    font-family: $body-font;
    font-weight: 300;
    line-height: 1.4em;
    letter-spacing: 0.7px;
    font-size: 18px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.4em;
    font-size: 16px;
}

i {
    font-style: italic;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.navitem {
    font-family: $body-font;
    font-weight: 300;
    line-height: 1.4em;
    letter-spacing: 0.7px;
    font-size: 24px;
    display: inline-block
}

/* navbar */
.navbar-default {
    background-color: $gray;
    border-color: $gray;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: $dark-gray;
    
    &:hover, .offcanvas &:focus {
        color: $blue;
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: $blue;
    background-color: $gray;
}

.navbar-nav > li {
  padding-left: 12px;
  padding-right: 12px;
}
