/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "responsive-font";

// Colors
$blue: #4CDCBC;

$default-font: 'Work Sans', sans-serif;
$serif-font: 'Lora', serif;

body {
    margin-left: 10%;
    margin-right: 10%;
}

b {
    font-weight: 400;
}

.panel {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: $blue;

    i {
        font-style: italic;
        color: lighten(black, 70%);
    }

    a {
        text-decoration-color: black;
        &:active {
            text-decoration: none;
        }
    }
}

/* The side navigation menu */
.sidenav {
    position: fixed;
    padding-top: 60px;
    padding-bottom: 20px;
    right: 12%;
    background-color: black;
    color: black;

    text-align: right;

    h1 {
        padding: 8px 30px 8px 32px;
        color:white;
        align-items: right;
        font-family: $serif-font;
        line-height: 1.2;
        font-size: 48px;
        letter-spacing: normal;
    }

    a {
        padding: 8px 30px 20px 32px;
        text-decoration: none;
        font-family: $default-font;
        letter-spacing: 3px;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;

        &:hover, .offcanvas &:focus {
            color: $blue;
        }
    }
}

.menuToggle {
    position: fixed;
    top: 75%;
    right: -22px;
    font-size: 36px;
    background-color: $blue;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);

    a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-family: $default-font;
        letter-spacing: 3px;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
        text-align: right;

        &:hover, .offcanvas &:focus{
            color: $blue;
        }
    }
}

/* Mini side navigation menu */
.miniSidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    a {
        padding: 8px 30px 20px 32px;
        text-decoration: none;
        font-family: $default-font;
        letter-spacing: 3px;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
        text-align: right;

        &:hover, .offcanvas &:focus{
            color: $blue;
        }
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 100px;
        font-size: 36px;
        margin-right: 80px;
    }
}

h1, h2 {
    line-height: 1.2em;
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: $serif-font;
    @include responsive-font(5vw, 36px, 40px, 50px);
    color: black;
}

p {
    font-family: $default-font;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
}

.header {
    margin: -1px 0px 0px 0px ;
    background-color: black;
    padding: 50px 10px 10px 30px;
    h1 {
        color: white;
        font-size: 48px;
    }
}

#about {
    margin-top: 60px;
    margin-bottom: 40px;

    h2 {
        padding-left: 15%;
        font-style: italic;
        color: $blue;
    }

    em {
        color: white;
        background-color: black;
    }
}

#experience {
    margin-top: 40px;
    margin-bottom: 40px;

    h1 {
        color: black;
        em {
            background-color: $blue;
        }
    }

    h2 {
        text-align: center;
        font-family: $serif-font;
        font-weight: 400;
        @include responsive-font(5vw, 24px, 30px, 50px);
        color: black;
        padding-top: 40px;

        em {
            background-color: $blue;
            color: white;
            font-style: italic;
        }
    }

    h3 {
        font-family: $default-font;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    p {
        text-align: center;
        padding: 20px;
        font-size: 24px;
        line-height: 1.2;
    }

    img, svg {
        width: 70%;
        max-width: 120px;
        display: block;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .icon2 {
        padding-top: 40px;
    }

    .icon3 {
        padding-top: 80px;
    }
}

#work {
    margin-top: 40px;
    margin-bottom: 40px;

    a {
        color: $blue;
        font-family: $default-font;
        font-weight: 200;
        font-size: 18px;
        line-height: 24px;
    }

    h1 {
        color: black;
        em {
            color: white;
            background-color: black;
        }
    }

    h2 {
        font-family: $default-font;
        font-weight: 400;
        font-size: 20px;
        padding-bottom: 4px;
        color: black;
    }

    img {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
        width: 80%;
        max-width: 250px;
        height: auto;
        margin: auto;
    }
}

#contact {
    margin-top: 40px;
    margin-bottom: 40px;
    // .panel {
    //     padding: 20px 20px 20px 20px;
    // }

    h1 {
        color: black;
        em {
            background-color: $blue;
        }
    }

    img {
        display: block;
        margin: auto;
        padding-top: 30px;
        width: 80%;
        min-width: 100px;
    }

    .btn {
        background-color: $blue;
        border: none;
        color: white;
        padding: 15px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        font-family: $default-font;
        display: table;
        margin: 0 auto;

        &:hover {
            color: white;
            background-color: lighten($blue, 7%);
        }
    }
}

footer {
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;

    a {
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}

@media (max-width: 991px) {
    .sidenav {
        display: none;
    }
}

@media (min-width: 992px) {
    .miniElement {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (max-width: 767px) {
    #experience {
        .icon2, .icon3 {
            padding-top: 20px;
        }
    }
    footer {
        a {
            padding-left: 4vw;
            padding-right: 4vw;
        }
    }
}
