/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/app.scss */
b {
  font-weight: 600;
}

/* line 20, ../sass/app.scss */
body {
  background-color: #EBECF0;
  text-align: center;
  padding: 0px 16px;
}

/* line 26, ../sass/app.scss */
nav {
  color: #9B9B9B;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  letter-spacing: 0.7px;
  font-size: 20px;
  margin-top: 36px;
}

/* line 35, ../sass/app.scss */
a {
  color: #1EB7C6;
}
/* line 38, ../sass/app.scss */
a:hover, .offcanvas a:focus {
  color: #1EB7C6;
}

/* line 43, ../sass/app.scss */
hr {
  width: 90%;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#EBECF0), to(#EBECF0), color-stop(50%, #C6C7CC));
}

/* line 50, ../sass/app.scss */
#header {
  padding: 20px;
  margin: 0;
}

/* line 55, ../sass/app.scss */
#sectional-text {
  padding: 2vw;
}

/* line 59, ../sass/app.scss */
#column-text {
  max-width: 800px;
  text-align: center;
}

/* line 64, ../sass/app.scss */
#info {
  max-width: 800px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

/* line 73, ../sass/app.scss */
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-top: 20px;
}

/* line 80, ../sass/app.scss */
.icon {
  max-width: 150px;
}

/* line 84, ../sass/app.scss */
h2 {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1vw;
}
@media (max-width: 2400px) {
  /* line 84, ../sass/app.scss */
  h2 {
    font-size: 24px;
  }
}
@media (min-width: 3600px) {
  /* line 84, ../sass/app.scss */
  h2 {
    font-size: 36px;
  }
}

/* line 92, ../sass/app.scss */
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1vw;
  margin-top: 20px;
  margin-bottom: 8px;
}
@media (max-width: 2800px) {
  /* line 92, ../sass/app.scss */
  h3 {
    font-size: 28px;
  }
}
@media (min-width: 3600px) {
  /* line 92, ../sass/app.scss */
  h3 {
    font-size: 36px;
  }
}

/* line 101, ../sass/app.scss */
h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  font-size: 18px;
}

/* line 108, ../sass/app.scss */
p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.7px;
  font-size: 18px;
}

/* line 116, ../sass/app.scss */
code {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4em;
  font-size: 16px;
}

/* line 122, ../sass/app.scss */
i {
  font-style: italic;
}

/* line 126, ../sass/app.scss */
ul {
  list-style-type: circle;
  list-style-position: inside;
}

/* line 131, ../sass/app.scss */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* line 139, ../sass/app.scss */
.navitem {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.7px;
  font-size: 24px;
  display: inline-block;
}

/* navbar */
/* line 149, ../sass/app.scss */
.navbar-default {
  background-color: #EBECF0;
  border-color: #EBECF0;
}

@media (min-width: 768px) {
  /* line 155, ../sass/app.scss */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* line 161, ../sass/app.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
}
/* Link */
/* line 167, ../sass/app.scss */
.navbar-default .navbar-nav > li > a {
  color: #9B9B9B;
}
/* line 170, ../sass/app.scss */
.navbar-default .navbar-nav > li > a:hover, .offcanvas .navbar-default .navbar-nav > li > a:focus {
  color: #1EB7C6;
}

/* line 175, ../sass/app.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1EB7C6;
  background-color: #EBECF0;
}

/* line 182, ../sass/app.scss */
.navbar-nav > li {
  padding-left: 12px;
  padding-right: 12px;
}
