/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../sass/screen.scss */
a {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  color: #5390b2;
  line-height: 24px;
  letter-spacing: 0.8px;
}
/* line 35, ../sass/screen.scss */
a:hover {
  color: #5390b2;
}

/* line 40, ../sass/screen.scss */
body {
  background-color: #FFFCF9;
  text-align: center;
}

/* line 45, ../sass/screen.scss */
h2 {
  font-family: Zilla Slab, serif;
  font-size: 50px;
  font-size: 5vw;
  letter-spacing: 6px;
  color: #352D39;
}
@media (max-width: 720px) {
  /* line 45, ../sass/screen.scss */
  h2 {
    font-size: 36px;
  }
}
@media (min-width: 840px) {
  /* line 45, ../sass/screen.scss */
  h2 {
    font-size: 42px;
  }
}

/* line 52, ../sass/screen.scss */
p {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #423847;
  line-height: 24px;
  letter-spacing: 0.8px;
}
/* line 59, ../sass/screen.scss */
p b {
  font-weight: 400;
}

/* line 64, ../sass/screen.scss */
.panel {
  border-width: 1px;
  border-color: #5390b2;
  border-radius: 7px;
  background-color: transparent;
  padding: 25px;
}

/* line 72, ../sass/screen.scss */
.navbar {
  border-color: transparent;
  background-color: transparent;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 80, ../sass/screen.scss */
.navbar a {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
/* line 86, ../sass/screen.scss */
.navbar .navbar-toggle {
  border-width: 0px;
}
/* line 88, ../sass/screen.scss */
.navbar .navbar-toggle .icon-bar {
  background-color: #352D39;
}
/* line 92, ../sass/screen.scss */
.navbar .navbar-toggle:hover {
  background-color: transparent;
}
/* line 94, ../sass/screen.scss */
.navbar .navbar-toggle:hover .icon-bar {
  background-color: #776580;
}
/* line 99, ../sass/screen.scss */
.navbar .navbar-toggle:active, .navbar .navbar-toggle:enabled {
  background-color: transparent;
}
/* line 104, ../sass/screen.scss */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
/* line 107, ../sass/screen.scss */
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li.active a {
  color: #352D39 !important;
  background-color: transparent !important;
}
/* line 111, ../sass/screen.scss */
.navbar .navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 114, ../sass/screen.scss */
.navbar .navbar-nav > li:hover a, .navbar .navbar-nav > li:active a, .navbar .navbar-nav > li:focus a {
  color: #5390b2 !important;
}
/* line 117, ../sass/screen.scss */
.navbar .navbar-nav > li > a {
  color: #352D39;
}
/* line 123, ../sass/screen.scss */
.navbar .navbar-collapse {
  text-align: center;
  border-top: none;
}

/* line 130, ../sass/screen.scss */
#home h1 {
  font-family: Zilla Slab, serif;
  letter-spacing: 2px;
  color: #352D39;
  font-size: 50px;
  font-size: 5vw;
}
@media (max-width: 1280px) {
  /* line 130, ../sass/screen.scss */
  #home h1 {
    font-size: 64px;
  }
}
@media (min-width: 2000px) {
  /* line 130, ../sass/screen.scss */
  #home h1 {
    font-size: 100px;
  }
}
/* line 137, ../sass/screen.scss */
#home h2 {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 50px;
  font-size: 5vw;
  line-height: 35px;
  letter-spacing: 6px;
  color: #5390b2;
}
@media (max-width: 480px) {
  /* line 137, ../sass/screen.scss */
  #home h2 {
    font-size: 24px;
  }
}
@media (min-width: 720px) {
  /* line 137, ../sass/screen.scss */
  #home h2 {
    font-size: 36px;
  }
}

/* line 147, ../sass/screen.scss */
#home, #about, #experience, #work, #contact {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 151, ../sass/screen.scss */
#home h2, #home h3, #about h2, #about h3, #experience h2, #experience h3, #work h2, #work h3, #contact h2, #contact h3 {
  padding-top: 20px;
  padding-bottom: 30px;
}

/* line 158, ../sass/screen.scss */
#home img {
  display: block;
  margin: auto;
  width: 30%;
  min-width: 200px;
}

/* line 167, ../sass/screen.scss */
#experience h3 {
  font-family: Zilla Slab, serif;
  font-weight: 400;
  font-size: 50px;
  font-size: 5vw;
  letter-spacing: 6px;
  color: #352D39;
  margin-top: 20px;
}
@media (max-width: 480px) {
  /* line 167, ../sass/screen.scss */
  #experience h3 {
    font-size: 24px;
  }
}
@media (min-width: 600px) {
  /* line 167, ../sass/screen.scss */
  #experience h3 {
    font-size: 30px;
  }
}
/* line 176, ../sass/screen.scss */
#experience p {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 181, ../sass/screen.scss */
#experience img, #experience svg {
  width: 90%;
  max-width: 100px;
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* line 192, ../sass/screen.scss */
#work h3 {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #352D39;
}
/* line 201, ../sass/screen.scss */
#work img {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 250px;
  height: auto;
  margin: auto;
}
/* line 209, ../sass/screen.scss */
#work .panel {
  padding: 20px;
}

/* line 215, ../sass/screen.scss */
#contact .btn {
  background-color: #5390b2;
  border: none;
  color: white;
  padding: 15px 20px;
  margin: -15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}
/* line 226, ../sass/screen.scss */
#contact .btn:hover {
  color: white;
  background-color: #6ca0bd;
}

/* line 233, ../sass/screen.scss */
footer {
  margin-top: 20px;
  background-color: #5390b2;
  color: white;
  text-align: center;
}
/* line 239, ../sass/screen.scss */
footer a {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
}
/* line 247, ../sass/screen.scss */
footer a:hover, footer a:active, footer a:focus {
  text-decoration: none;
}

@media (max-width: 767px) {
  /* line 254, ../sass/screen.scss */
  #home {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* line 259, ../sass/screen.scss */
  footer a {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
/* line 267, ../sass/screen.scss */
.delay-animated {
  -webkit-animation-delay: 0.4s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 0.4s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 276, ../sass/screen.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 301, ../sass/screen.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
/* line 328, ../sass/screen.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/* line 355, ../sass/screen.scss */
.slideanim {
  visibility: hidden;
}

/* line 359, ../sass/screen.scss */
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@media (max-width: 767px) {
  /* line 368, ../sass/screen.scss */
  .navbar {
    padding-top: 10px;
  }
}
