/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
body {
  margin-left: 10%;
  margin-right: 10%;
}

/* line 20, ../sass/screen.scss */
b {
  font-weight: 400;
}

/* line 24, ../sass/screen.scss */
.panel {
  padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  border-color: #4CDCBC;
}
/* line 31, ../sass/screen.scss */
.panel i {
  font-style: italic;
  color: #b3b3b3;
}
/* line 36, ../sass/screen.scss */
.panel a {
  text-decoration-color: black;
}
/* line 38, ../sass/screen.scss */
.panel a:hover, .offcanvas .panel a:focus, .panel a:active {
  text-decoration-color: black;
}

/* The side navigation menu */
/* line 45, ../sass/screen.scss */
.sidenav {
  position: fixed;
  padding-top: 60px;
  padding-bottom: 20px;
  right: 12%;
  background-color: black;
  color: black;
  text-align: right;
}
/* line 55, ../sass/screen.scss */
.sidenav h1 {
  padding: 8px 30px 8px 32px;
  color: white;
  align-items: right;
  font-family: "Lora", serif;
  line-height: 1.2;
  font-size: 48px;
  letter-spacing: normal;
}
/* line 65, ../sass/screen.scss */
.sidenav a {
  padding: 8px 30px 20px 32px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}
/* line 75, ../sass/screen.scss */
.sidenav a:hover, .offcanvas .sidenav a:focus {
  color: #4CDCBC;
}

/* line 81, ../sass/screen.scss */
.menuToggle {
  position: fixed;
  top: 75%;
  right: -22px;
  font-size: 36px;
  background-color: #4CDCBC;
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
/* line 91, ../sass/screen.scss */
.menuToggle a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: right;
}
/* line 102, ../sass/screen.scss */
.menuToggle a:hover, .offcanvas .menuToggle a:focus {
  color: #4CDCBC;
}

/* Mini side navigation menu */
/* line 109, ../sass/screen.scss */
.miniSidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}
/* line 121, ../sass/screen.scss */
.miniSidenav a {
  padding: 8px 30px 20px 32px;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: right;
}
/* line 132, ../sass/screen.scss */
.miniSidenav a:hover, .offcanvas .miniSidenav a:focus {
  color: #4CDCBC;
}
/* line 137, ../sass/screen.scss */
.miniSidenav .closebtn {
  position: absolute;
  top: 0;
  right: 100px;
  font-size: 36px;
  margin-right: 80px;
}

/* line 146, ../sass/screen.scss */
h1, h2 {
  line-height: 1.2em;
  padding-top: 0px;
  padding-bottom: 10px;
  font-family: "Lora", serif;
  font-size: 50px;
  font-size: 5vw;
  color: black;
}
@media (max-width: 720px) {
  /* line 146, ../sass/screen.scss */
  h1, h2 {
    font-size: 36px;
  }
}
@media (min-width: 800px) {
  /* line 146, ../sass/screen.scss */
  h1, h2 {
    font-size: 40px;
  }
}

/* line 155, ../sass/screen.scss */
p {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}

/* line 162, ../sass/screen.scss */
.header {
  margin: -1px 0px 0px 0px;
  background-color: black;
  padding: 60px 30px 10px 30px;
}
/* line 166, ../sass/screen.scss */
.header h1 {
  color: white;
  font-size: 48px;
}

/* line 172, ../sass/screen.scss */
#about {
  margin-top: 60px;
  margin-bottom: 40px;
}
/* line 176, ../sass/screen.scss */
#about h2 {
  padding-left: 15%;
  font-style: italic;
  color: #4CDCBC;
}
/* line 182, ../sass/screen.scss */
#about em {
  color: white;
  background-color: black;
}

/* line 188, ../sass/screen.scss */
#experience {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 192, ../sass/screen.scss */
#experience h1 {
  color: black;
}
/* line 194, ../sass/screen.scss */
#experience h1 em {
  background-color: #4CDCBC;
}
/* line 199, ../sass/screen.scss */
#experience h2 {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 50px;
  font-size: 5vw;
  color: black;
  padding-top: 40px;
}
@media (max-width: 480px) {
  /* line 199, ../sass/screen.scss */
  #experience h2 {
    font-size: 24px;
  }
}
@media (min-width: 600px) {
  /* line 199, ../sass/screen.scss */
  #experience h2 {
    font-size: 30px;
  }
}
/* line 207, ../sass/screen.scss */
#experience h2 em {
  background-color: #4CDCBC;
  color: white;
  font-style: italic;
}
/* line 214, ../sass/screen.scss */
#experience h3 {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 222, ../sass/screen.scss */
#experience p {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  line-height: 1.2;
}
/* line 229, ../sass/screen.scss */
#experience img, #experience svg {
  width: 70%;
  max-width: 120px;
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 238, ../sass/screen.scss */
#experience .icon2 {
  padding-top: 40px;
}
/* line 242, ../sass/screen.scss */
#experience .icon3 {
  padding-top: 80px;
}

/* line 247, ../sass/screen.scss */
#work {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 252, ../sass/screen.scss */
#work p a {
  color: #4CDCBC;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}
/* line 261, ../sass/screen.scss */
#work h1 {
  color: black;
}
/* line 263, ../sass/screen.scss */
#work h1 em {
  color: white;
  background-color: black;
}
/* line 269, ../sass/screen.scss */
#work h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 4px;
  color: black;
}
/* line 277, ../sass/screen.scss */
#work img {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 250px;
  height: auto;
  margin: auto;
}

/* line 286, ../sass/screen.scss */
#contact {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 293, ../sass/screen.scss */
#contact h1 {
  color: black;
}
/* line 295, ../sass/screen.scss */
#contact h1 em {
  background-color: #4CDCBC;
}
/* line 300, ../sass/screen.scss */
#contact img {
  display: block;
  margin: auto;
  padding-top: 30px;
  width: 80%;
  min-width: 100px;
}
/* line 308, ../sass/screen.scss */
#contact .btn {
  background-color: #4CDCBC;
  border: none;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  display: table;
  margin: 0 auto;
}
/* line 320, ../sass/screen.scss */
#contact .btn:hover {
  color: white;
  background-color: #6ae2c7;
}

/* line 327, ../sass/screen.scss */
footer {
  margin-top: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
/* line 333, ../sass/screen.scss */
footer a {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
}
/* line 341, ../sass/screen.scss */
footer a:hover, footer a:active, footer a:focus {
  text-decoration: none;
}

@keyframes slidedown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/* line 366, ../sass/screen.scss */
.slidedown {
  animation-name: slidedown;
  -webkit-animation-name: slidedown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
}

@media (max-width: 991px) {
  /* line 374, ../sass/screen.scss */
  .sidenav {
    display: none;
  }
}
@media (min-width: 992px) {
  /* line 380, ../sass/screen.scss */
  .miniElement {
    display: none;
  }
}
@media screen and (max-height: 450px) {
  /* line 386, ../sass/screen.scss */
  .sidenav {
    padding-top: 15px;
  }

  /* line 387, ../sass/screen.scss */
  .sidenav a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  /* line 392, ../sass/screen.scss */
  #experience .icon2, #experience .icon3 {
    padding-top: 20px;
  }

  /* line 397, ../sass/screen.scss */
  footer a {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
