:root {
  --theme-color: dodgerblue;
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
