body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2,
h3,
h4 {
  font-family: "Nunito Sans", sans-serif;
}

h2,
h3 {
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

details {
  margin: 1rem auto;
}

li {
  margin-bottom: 0.2rem;
}
